<!DOCTYPE html>
<html>
<%- include('layouts/header'); -%>
  <body>
  <%- include('layouts/navbar'); -%>

  <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>MindX DBP-06 Class Hello World</h1>
            <span class="subheading">This is blog of class MindX of DBP-06</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    content
  </div>
  <%- include('layouts/footer'); -%>
  <%- include('layouts/scripts'); -%>
  </body>
</html>
